html,
body {
  overflow-x: hidden !important;
  // width: 100%;
}

.hideScrollBar {
  overflow: scroll;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #ff0000;
  }
}

/* @App.js */
.provisional_user_info {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

/* @components/navbar/Navbar.js */
#navbar {
  width: 100vw;
  background-color: black !important;
  box-shadow: 3px 2px 2px 1px grey;
}

@media only screen and (min-width: 768px) {
  #navbar {
    display: flex;
    height: 5rem;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
  }
}

// .navbar-collapse {
//   flex-basis: auto;
// }

#brand {
  font-size: 1.25rem;
  text-align: center;
  padding: 0;
  // margin: 0 auto;
  color: white;
}

@media only screen and (min-width: 768px) {
  #brand {
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  #brand {
    font-size: 1.25rem !important;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

#nav_item_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #nav_item_container {
    position: absolute;
    width: 25%;
    right: 0;
    font-size: 1.25rem !important;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 8px;
  }
}

.nav-item {
  margin: 0 1rem;
}

.nav_items,
.nav_items:visited {
  color: white;
}

#add_crypto {
  font-size: 1rem;
  font-weight: bold;
  /* color: green !important; */
  text-decoration: none;
  margin: 0 0.25em;
}

#deduct_crypto {
  font-size: 1rem;
  font-weight: bold;
  /* color: red !important; */
  text-decoration: none;
  margin: 0 0.25em;
}

// .navbar_link_items {
//   margin: 0 3rem;
// }

.dropdown-menu.show {
  position: absolute;
  transform: translateX(-100px);
}

/* @components/navbar/AccountIcon.js */
.fa-user {
  font-size: 2em;
}

#menu {
  display: none;
  position: absolute;
  width: 6.5rem;
  right: 0;
  z-index: 100;
  transform: translate(0, -5px);
}

#account_nav_item:hover > #menu {
  display: block;
}

@media only screen and (min-width: 768px) {
  #menu {
    width: 8rem;
    /* transform: translate(0, 5px); */
  }
}

#menu:hover {
  display: block;
}

/* @components/navbar/CartIcon.js */
#cart_navigation_quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(218, 221, 217);
  color: black;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  font-size: 12px;
  line-height: 12px;
  transform: translate(16px);
}

@media only screen and (min-width: 768px) {
  #cart_navigation_quantity {
    transform: translate(16px, -5px);
  }
}

.fa-shopping-cart {
  font-size: 1.25rem;
  transform: translate(0, -6px);
}

@media only screen and (min-width: 768px) {
  .fa-shopping-cart {
    position: absolute;
    bottom: 0.2rem;
  }
}

/* @components/navbar/Menus.js */
#navbar_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1rem;
  z-index: 100;
}

.navbar_menu_text {
  color: white;
}

/* @components/auth/Login.js */
#log_in {
  margin-top: 8rem;
}

/* @components/auth/Login.js */
/* @components/input/Positions.js */
#positions_container {
  position: relative;
  top: 1rem;
}

@media only screen and (min-width: 350px) {
  .input_field {
    width: 75% !important;
  }
  .form_container {
    padding-left: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  .input_field {
    width: 50% !important;
  }
}

@media only screen and (min-width: 1200px) {
  .input_field {
    width: 25% !important;
  }
}

.input-group {
  margin-bottom: 1rem;
}

.auth_fa-user {
  position: relative !important;
}

/* @components/portfolio/Position.js */
#position {
  display: flex;
  margin: 1rem;
  border-style: solid;
  border-color: black;
}

#position > div {
  margin: 1rem;
}

/* @components/portfolio/TotalChart.js */
#charts_container {
  position: relative;
  top: 1rem;
}

#currency_logo_charts_container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

#currency_logo_charts_container_overview_total {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 0rem;
}

.currency_logo_charts {
  width: 1.5rem;
}

#currency_logos {
  margin-top: 1rem;
}

/* .all_currency_logos_charts {
  width: 1.5rem;
} */

#currency_name_chart {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 0.5rem;
}

#total_chart_container {
  position: relative;
}

#toggle_view_charts {
  // position: absolute;
  right: 1rem;
  top: 6rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 99;
}

#toggle_view_charts:hover {
  color: darkgrey;
}

#toggle_view_ledger > a {
  // position: absolute;
  // right: 1rem;
  // top: 6rem;
  margin-right: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: black !important;
  text-decoration: none !important;
}

#durations_container {
  display: flex;
  margin-left: 2rem;
  color: gray;
  font-size: 0.85em;
}

#durations_container div:not(:first-child) {
  padding-left: 4rem;
}

#duration {
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 1.25em;
}

.durations {
  cursor: pointer;
}

.durations:hover {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

/* @components/layout/Alert.js */
/* #remove_alert {
  position: absolute;
  right: 0.5rem;
  top: 0;
  color: black;
  font-weight: bold;
  cursor: pointer;
} */

#alert {
  position: absolute;
  width: 100%;
  opacity: 0.9;
  z-index: 99;
}

/* @components/overview/Overview.js */
#overview_container {
  // position: relative;
  // scroll-behavior: smooth;
  overflow-x: scroll !important;
}

@media only screen and (min-width: 629px) {
  #overview_container {
    overflow-x: scroll !important;
  }
}

@media only screen and (min-width: 768px) {
  #overview_container {
    top: 2rem;
  }
}

#overview_table {
  // position: absolute;
  // width: 100%;
  scroll-behavior: smooth;
  overflow-x: scroll !important;
  // max-width: 100%;
}

#arrow_container {
  // display: none;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 50%;
  color: grey;
  pointer-events: none;
}

.display_arrow_container {
  display: flex;
}

@media only screen and (min-width: 768px) {
  #arrow_container {
    display: none !important;
  }
}

.fa-chevron-left {
  visibility: hidden;
  text-align: right;
  font-size: 2em;
  pointer-events: initial;
  cursor: e-resize;
}

.fa-chevron-left:hover {
  color: black;
}

.fa-chevron-right {
  visibility: hidden;
  text-align: left;
  font-size: 2em;
  pointer-events: initial;
  cursor: e-resize;
}

.fa-chevron-right:hover {
  color: black;
}

.arrow_display {
  visibility: visible;
}

th {
  width: 14.25%;
  white-space: nowrap;
  overflow: hidden;
}

td {
  white-space: nowrap;
  overflow: hidden;
}

.crypto_image {
  width: 1.5em;
  margin-right: 0.25rem;
}

/* @components/overview/TwentyFourHourChange.js */
.twenty_four_hour_container {
  font-size: 0.75em;
  font-weight: bold;
}

/* @components/overview/Twenty4hChangeByCurrency.js */
.crypto_24h_change {
  /* text-decoration: none !important; */
  color: black;
}

.crypto_24h_change:hover {
  text-decoration: none !important;
  /* color: black; */
}

/* @components/overview/OverviewCurrencies.js & OverviewTotal */
.overview_name_container {
  display: flex;
  align-items: center;
}

.crypto_name {
  color: black;
}

.crypto_name:hover {
  color: cornflowerblue;
}

.crypto_abbreviation {
  margin-left: 0.5rem;
  color: black;
  font-size: 0.75em;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  font-weight: bold;
}

.change_container {
  display: flex;
  justify-content: start;
}

.change_value {
  font-size: 0.75rem;
  padding-left: 0.5rem;
}

.x_container {
  display: flex;
  justify-content: start;
}

.x_value {
  font-size: 0.75rem;
  padding-left: 0.5rem;
}

/* @components/overview/OverviewTotal.js */
#overview_total {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: black;
}

/* @components/charts/ChangeMinMax */
#change_min_max_charts_container {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-bottom: 2rem;
  font-size: 0.75em;
}

.crypto_24h_change {
  padding-left: 1rem;
}

/* @components/positions/PositionsByCurrency.js */
.delete_ledger_entry {
  visibility: hidden;
  color: grey;
}

.delete_ledger_entry:hover {
  color: black;
}

.clickable:hover > td > .delete_ledger_entry {
  visibility: visible;
}

/* @layout/RemoveCryptoQuery.js */
#security_query_container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1005;
  background-color: rgba(10, 10, 10, 0.45);
}

#security_query {
  margin: 0 auto;
  background-color: rgba(10, 10, 10, 0.5);
  padding: 1rem;
  border-style: solid;
  border-color: red;
}

#security_query_text {
  color: white;
  font-weight: bold;
}

#security_query_buttons {
  display: flex;
  justify-content: center;
}

#security_query_buttons button {
  margin: 1rem;
}
